<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña</title>
</head>
<body>
    <h1>Recuperación de contraseña</h1>
    <form method="POST">
        <p><label for="Recuperar">Ingrese Usuario o correo electrónico: </label>
            <input type="text" id="Recuperar" name="Recuperar" /></p>
        <p><button type="submit" value="Enviar">Enviar</button></p>
        
    </form>
</body>
</html>